page-intro {
  ion-content {
    background-color: color($colors, primary) !important;
    font-family: 'Raleway';
  }

  ion-avatar {
    img {
      margin: 0 auto;
    }
  }

  .app-name {
    text-align: center;
    color: #FFF;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .vertical-align-content > * {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
  }

  button.btn {
    padding: 12px;
    font-size: 16px;
    width: 80%;
    border-radius: 20px;
    background-color: color($colors, primary);
    color: #ffffff;
    border: 2px solid #ffffff;
    margin-bottom: 10px;

    &.btn-welcome {
      background-color: #ffffff;
      color: #000000;
    }

    &.btn-welcome:active {
      background-color: #e4e4e4;
    }
  }
}
