
<div id="modalInfoReturn" class="row">
    <div id="listInfo">
        <i class="material-icons" onclick="closeOptionsReturn()">
            close
        </i>
        <div class="valueFixed">
            <div class="col-3">
                <img class="imgReturn" src="webfiles/img/logo/return_client.jpg">
            </div>
            <div class="col-7">
                <b>Return</b>
                <br/>
                <span>Busca um carro que vá na mesma direção que você, tempo maior de espera, porém, preço melhor.</span>
            </div>
        </div>
        <hr>
        <div class="valueFixed">
            <div class="col-3">
                <img class="imgReturn" src="webfiles/img/logo/return-2.png">
            </div>
            <div class="col-7">
                <b>Taxi</b>
                <br/>
                <span>Busca taxi mais próximo a você, motorista que conhecem a cidade com preço justo</span>
            </div>
        </div>
        <hr>
        <div class="valueFixed">
            <div class="col-3">
                <img class="imgReturn" src="webfiles/img/logo/return-3.jpg">
            </div>
            <div class="col-7">
                <b>Plus</b>
                <br/>
                <span>
                    Carros particulares com motoristas autorizados a conduzir você de maneira rápida e barata
                </span>
            </div>
        </div>
        <div class="btn">
            <p><b>Valores fixos</b></p>
            <span>Viagem sem surpresas, você já sai <br> sabendo o valor da corrida.</span>
        </div>
    </div>
</div>