<div class="modal-signaling-arrival">
    <div>
        <h4>Motorista chegou no local</h4>
        <i class="material-icons close-modal-arrival">close</i>
        <img src="" class="image-profile-driver">
        <div>
            <h4 class="name-driver-trip"></h4>
            <label>Motorista</label>
            <div class="car-brand-driver"></div>
            <div class="car-plate-driver"></div>
        </div>
        <div class="option-message-driver">
            <i class="fa fa-phone phone-client"></i>
            <i class="fa fa-comments chat-client"></i>
        </div>
    </div>
    <audio id="songCallTaxi">
        <source src="webfiles/assets/songs/songCallTaxi.wav" type="audio/wav">
    </audio>
</div>