<div class="row">
    <div class="generalProfile">
        <div class="center imgUser">
            <img id="changeImageProfile" src="webfiles/img/icon/user.png">
        </div>
        <div class="dataUser">
            <label>Nome</label>
            <br>
            <input value="Regnobertho Gomes Costa">
            <br>
            <label>Email</label>
            <input value="reg@gmail.com">
            <br>
            <label>N° OAB</label>
            <br>
            <input value="903520">
            <br>
        </div>
    </div>
</div>