<div class="row">
    <div class="generalProfile">
        <div class="center imgUser">
            <img id="changeImageProfile" src="webfiles/img/icon/user.png">
        </div>
        <div class="dataUser">
            <label>Nome</label>
            <br>
            <input value="" id="name-profile-user">
            <br>
            <label>Email</label>
            <input id="email-profile-user">
            <br>
            <label>N° OAB</label>
            <br>
            <input id="oab-profile-user">
            <br>
        </div>
    </div>
</div>