<div class="generalRegister">
    <div class="chooseUser">
        <i class="material-icons" id="backLogin">arrow_back</i>
        <div class="center firstPart">
            <img id="imgUser" src="webfiles/img/icon/user.png">
        </div>
        <div class="center">
            <span>Usuário</span>
        </div>

        <div class="center secondPart">
            <img id="imgAdv" src="webfiles/img/icon/adv.png">
        </div>
        <div class="center">
            <span>Juridico</span>
        </div>
    </div>

    <div class="userLawer">
        <div class="container">
            <div class="firstPartLawer">
                <i class="material-icons backInit">arrow_back</i>
                <input id="nameLawer" placeholder="Nome completo">
                <div class="center">
                    <input id="firstContact" placeholder="Contato" type="tel">
                    <input id="secondContact" class="" placeholder="Contato" type="tel">
                </div>
                <input id="emailLawer" type="email" placeholder="Email">
                <div class="center">
                    <input id="oab" class="oab" placeholder="OAB">
                    <input id="uf" class="uf" placeholder="UF">
                </div>
                <div class="center">
                    <button class="btn toSecond">Avançar</button>
                </div>
            </div>

            <div class="secondPassLawer hidden">
                <i class="material-icons backFirstLawer">arrow_back</i>
                <div class="content">
                    <input id="cpfLawer" placeholder="CPF" type="tel">
                    <input id="rgLawer" placeholder="RG" type="tel">
                    <input id="cepLawer" placeholder="CEP" type="tel">
                    <div class="center">
                        <input id="addressLawer" placeholder="Endereço">
                        <input type="number" id="numberAddressLawer" placeholder="N°">
                    </div>
                    <input id="neighborhoodLawer" placeholder="Bairro">
                    <div class="center">
                        <button class="btn btnToThird">Avançar</button>
                    </div>
                </div>
            </div>

            <div class="thirdPassLawer hidden">
                <i class="material-icons backSecondLawer">arrow_back</i>
                <div class="content">
                    <div class="center">
                        <b>Especialidades</b>
                    </div>
                    <ul>
                        <li>
                            <input type="checkbox" id="1">
                            <label for="1">Criminal</label>
                        </li>
                        <li>
                            <input type="checkbox" id="2">
                            <label for="2">Direito da familia</label>
                        </li>
                        <li>
                            <input type="checkbox" id="3">
                            <label for="3">Previdenciário</label>
                        </li>
                    </ul>
                </div>
                <div class="center">
                    <button class="btnPadrao">Avançar</button>
                </div>
            </div>

        </div>
    </div>

    <div class="normalUser">
        <i class="material-icons backInit">arrow_back</i>
        <div class="container">
            <input placeholder="Nome">
            <input type="email" placeholder="Email">
        </div>
    </div>

</div>