<div class="generalRegister">
	<div class="chooseUser">
		<i class="material-icons" id="backLogin">arrow_back</i>
		<div class="center firstPart">
			<img id="imgUser" src="webfiles/img/icon/user.png">
		</div>
		<div class="center">
			<span>Usuário</span>
		</div>
		<div class="center secondPart">
			<img id="imgAdv" src="webfiles/img/icon/lawer.png" alt="Entrar como usuário jurídico">
		</div>
		<div class="center" id="adv">
			<span>Juridico</span>
		</div>
	</div>

	<div class="userLawer">
		<i class="material-icons backInit">arrow_back</i>
		<div class="container">
			<div id="lawer_container_steps"></div>
			<div class="center">
				<button id="previus_step" class="btn" style="margin-right: 20px;">
					Voltar
				</button>
				<button id="next_step" class="btn">
					Avançar
				</button>
				<button id="conclude_form" class="btn">
					Concluir
				</button>
			</div>
		</div>
	</div>

	<div class="normalUser">
		<i class="material-icons backInit">arrow_back</i>
		<div class="container">
			<input placeholder="Nome">
			<input type="email" placeholder="Email">
		</div>
	</div>

</div>