<div class="mainNav">
    <ul id="slide-out" class="side-nav">
        <li><div class="user-view">
            <div class="background">
                <img src="webfiles/img/logo/logobranco.png">
            </div>
            <a href="#!user"><img class="circle" src="http://clipart-library.com/images/8i6oer5KT.png"></a>
            <a href="#!name"><span class="white-text name" id="name-user-logged"></span></a>
            <a href="#!email"><span class="white-text email" id="email-user-logged"></span></a>
        </div></li>
        <li id="openHome"><a><i class="material-icons">home</i>Inicio</a></li>
        <li id="openProfile"><a><i class="material-icons">person_pin</i>Meu Perfil</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>Meus Processos</a></li>
        <li><a href="#!"><i class="material-icons">people</i>Meus Clientes</a></li>
        <li><a href="#!"><i class="material-icons">chat_bubble_outline</i>Chat</a></li>
        <li><a href="#!"><i class="material-icons">payment</i>Pagamento</a></li>
        <li id="openConfig"><a href="#!"><i class="material-icons">build</i>Configurações</a></li>
        <!--<li><a href="#!"></a></li>-->
        <li><div class="divider"></div></li>
        <li id="getOutApp"><a class="subheader" href="#!"><i class="material-icons">exit_to_app</i>Sair</a></li>
        <div class="footer">
            <label>&copy; Desenvolvido por Fabrica 704</label>
        </div>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons" style="font-size: 10vw">menu</i></a>
    <img class="logo" src="webfiles/img/logo/logo2branco.png">
</div>


<div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large">
        <i class="large material-icons fs-10">whatshot</i>
    </a>
    <ul>
        <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">event</i></a></li>
        <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">format_quote</i></a></li>
        <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">filter_none</i></a></li>
        <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">publish</i><br></a></li>
    </ul>
</div>
<!--<a class="btn-floating btn-large waves-effect waves-light floatButton"><i class="material-icons">expand_less</i></a>-->