<div class="general"></div>
<div class="backgroundViolet"></div>
<div class="containerLogin">
    <div class="divImg">
        <img class="logo" src="webfiles/img/logo/logobranco.png">
    </div>
    <div class="form">
        <input type="email" id="email" placeholder="Usuário">
        <input type="password" id="password" placeholder="Senha">
        <i class="material-icons showPassword">remove_red_eye</i>
        <div class="center">
            <button id="sing">Entrar</button>
        </div>
        <div class="center">
            <span id="singup">Ainda não sou cadastrado</span>
        </div>
        <div class="center">
            <label id="forgotPassword">Esqueci a senha</label>
        </div>
    </div>
</div>
<div class="modal" id="releasePassword">
    <input type="email" placeholder="Email" id="emailForgot">
    <div class="center">
        <button class="btn" id="btnReleasePassword">Confirmar</button>
    </div>
</div>