<ion-header no-border>
  <ion-navbar color="light">
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons end>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="steps">
    <div class="step" *ngIf="stepNum==1">
      <form [formGroup]="formDadosPessoais">
        <div class="form-inputs">
          <ion-list>
            <ion-item>
              <ion-label floating>Nome</ion-label>
              <ion-input formControlName="nome" type="text"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.nome">
                <div class="error-message" *ngIf="formDadosPessoais.get('nome').hasError(validation.type) && (formDadosPessoais.get('nome').dirty || formDadosPessoais.get('nome').touched)">
                  <ion-icon name=""></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item>
              <ion-label floating>CPF</ion-label>
              <ion-input formControlName="cpf" [brmasker]="{mask:'000.000.000-00', len:14}" type="text"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.cpf">
                <div class="error-message" *ngIf="formDadosPessoais.get('cpf').hasError(validation.type) && (formDadosPessoais.get('cpf').dirty || formDadosPessoais.get('cpf').touched)">
                  <ion-icon name=""></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item>
              <ion-label floating>RG</ion-label>
              <ion-input formControlName="rg" type="number"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.rg">
                <div class="error-message" *ngIf="formDadosPessoais.get('rg').hasError(validation.type) && (formDadosPessoais.get('rg').dirty || formDadosPessoais.get('rg').touched)">
                  <ion-icon name=""></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item>
              <ion-label floating>Carteira da OAB</ion-label>
              <ion-input formControlName="oab" type="text"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.oab">
                <div class="error-message" *ngIf="formDadosPessoais.get('oab').hasError(validation.type) && (formDadosPessoais.get('oab').dirty || formDadosPessoais.get('oab').touched)">
                  <ion-icon name=""></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item>
              <ion-label floating>Data de Nascimento</ion-label>
              <ion-datetime displayFormat="DD/MMM/YYYY" formControlName="data_nasc"></ion-datetime>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.data_nasc">
                <div class="error-message" *ngIf="formDadosPessoais.get('data_nasc').hasError(validation.type) && (formDadosPessoais.get('data_nasc').dirty || formDadosPessoais.get('data_nasc').touched)">
                  <ion-icon name=""></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-list>
        </div>

        <ul class="dots">
          <li [class.active]="stepNum==1" class="dot"></li>
          <li [class.active]="stepNum==2" class="dot"></li>
          <li [class.active]="stepNum==3" class="dot"></li>
          <li [class.active]="stepNum==4" class="dot"></li>
        </ul>

        <button class="btn" (click)="nextStep()" [disabled]="!formDadosPessoais.valid">PRÓXIMO</button>
      </form>
    </div>

    <div class="step" *ngIf="stepNum==2">
      <form [formGroup]="formContato">
        <div class="form-inputs" padding>
          <ion-list>
            <ion-item>
              <ion-label floating>E-Mail</ion-label>
              <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message" *ngIf="formContato.get('email').hasError(validation.type) && (formContato.get('email').dirty || formContato.get('email').touched)">
                  <ion-icon name=""></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item>
              <ion-label floating>Celular</ion-label>
              <ion-input formControlName="celular" [brmasker]="{mask:'(00) 00000-0000', len:15}" type="text"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.celular">
                <div class="error-message" *ngIf="formContato.get('celular').hasError(validation.type) && (formContato.get('celular').dirty || formContato.get('celular').touched)">
                  <ion-icon name=""></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-list>
        </div>

        <ul class="dots">
          <li [class.active]="stepNum==1" class="dot"></li>
          <li [class.active]="stepNum==2" class="dot"></li>
          <li [class.active]="stepNum==3" class="dot"></li>
          <li [class.active]="stepNum==4" class="dot"></li>
        </ul>

        <button class="btn" (click)="nextStep()" [disabled]="!formContato.valid">PRÓXIMO</button>
      </form>
    </div>

    <div class="step" *ngIf="stepNum==3" style="padding-bottom: 60px;">
      <form [formGroup]="formEndereco">
        <div class="form-inputs" padding>
          <ion-list>
            <ion-item>
              <ion-label floating>CEP</ion-label>
              <ion-input formControlName="cep" [brmasker]="{mask:'00000-000', len:9}" type="text"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.cep">
                <div class="error-message" *ngIf="formEndereco.get('cep').hasError(validation.type) && (formEndereco.get('cep').dirty || formEndereco.get('cep').touched)">
                  <ion-icon name=""></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item>
              <ion-label floating>Número</ion-label>
              <ion-input formControlName="numero" type="text"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.numero">
                <div class="error-message" *ngIf="formEndereco.get('numero').hasError(validation.type) && (formEndereco.get('numero').dirty || formEndereco.get('numero').touched)">
                  <ion-icon name=""></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item>
              <ion-label floating>Endereço</ion-label>
              <ion-input formControlName="logradouro" type="text"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.logradouro">
                <div class="error-message" *ngIf="formEndereco.get('logradouro').hasError(validation.type) && (formEndereco.get('logradouro').dirty || formEndereco.get('logradouro').touched)">
                  <ion-icon name=""></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item>
              <ion-label floating>Bairro</ion-label>
              <ion-input formControlName="bairro" type="text"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.bairro">
                <div class="error-message" *ngIf="formEndereco.get('bairro').hasError(validation.type) && (formEndereco.get('bairro').dirty || formEndereco.get('bairro').touched)">
                  <ion-icon name=""></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item>
              <ion-label floating>Complemento</ion-label>
              <ion-input formControlName="complemento" type="text"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.complemento">
                <div class="error-message" *ngIf="formEndereco.get('complemento').hasError(validation.type) && (formEndereco.get('complemento').dirty || formEndereco.get('complemento').touched)">
                  <ion-icon name=""></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item>
              <ion-label floating>Ponto de Referência</ion-label>
              <ion-input formControlName="pt_referencia" type="text"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.pt_referencia">
                <div class="error-message" *ngIf="formEndereco.get('pt_referencia').hasError(validation.type) && (formEndereco.get('pt_referencia').dirty || formEndereco.get('pt_referencia').touched)">
                  <ion-icon name=""></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-list>
        </div>

        <ul class="dots">
          <li [class.active]="stepNum==1" class="dot"></li>
          <li [class.active]="stepNum==2" class="dot"></li>
          <li [class.active]="stepNum==3" class="dot"></li>
          <li [class.active]="stepNum==4" class="dot"></li>
        </ul>

        <button class="btn" (click)="nextStep()" [disabled]="!formEndereco.valid">PRÓXIMO</button>
      </form>
    </div>

    <div class="step" *ngIf="stepNum==4" style="padding-bottom: 60px;">
      <form [formGroup]="formSenha">
        <div class="form-inputs" padding>
          <ion-list>
            <ion-item>
              <ion-label floating>Senha</ion-label>
              <ion-input formControlName="senha" type="password"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.senha">
                <div class="error-message" *ngIf="formSenha.get('senha').hasError(validation.type) && (formSenha.get('senha').dirty || formSenha.get('senha').touched)">
                  <ion-icon name=""></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-list>
        </div>

        <ul class="dots">
          <li [class.active]="stepNum==1" class="dot"></li>
          <li [class.active]="stepNum==2" class="dot"></li>
          <li [class.active]="stepNum==3" class="dot"></li>
          <li [class.active]="stepNum==4" class="dot"></li>
        </ul>

        <button class="btn" (click)="salvar()" [disabled]="!formSenha.valid">ENVIAR</button>
      </form>
    </div>
  </div>
</ion-content>
