<div class="row openDiv">
    <div class="generalHome">
        <div class="carouselImages">
            <div class="carousel carousel-slider center" data-indicators="true">
                <div class="carousel-fixed-item center">
                    <!--<a class="btn waves-effect white grey-text darken-text-2">button</a>-->
                </div>
                <div class="carousel-item white-text" href="#one!">
                    <img src="https://images.tcdn.com.br/img/img_prod/571982/curso_preparatorio_oab_intensivo_1a_fase_44_1_20181101103740.jpg">
                </div>
                <div class="carousel-item amber white-text" href="#two!">
                    <h2>Second Panel</h2>
                    <p class="white-text">This is your second panel</p>
                </div>
                <div class="carousel-item green white-text" href="#three!">
                    <h2>Third Panel</h2>
                    <p class="white-text">This is your third panel</p>
                </div>
                <div class="carousel-item blue white-text" href="#four!">
                    <h2>Fourth Panel</h2>
                    <p class="white-text">This is your fourth panel</p>
                </div>
            </div>
        </div>
        <div class="secondPart">

            <div class="center">
                <label class="fs-5 title">Ultimas noticias</label>
            </div>
            <div class="divider mainDivider"></div>

            <div class="main">
                <div class="post">
                    <div class="when">
                        <label>20/05/2019 13:40</label>
                    </div>
                    <span class="titlePost">Concursos</span>
                    <br>
                    <span class="mainPost">
                        A FUNASA (Fundação Nacional de Saúde) já pediu autorização ao Ministério competente para abertura de concurso público. No total, são esperadas mais de 450 vagas para esse órgão  federal.
                    </span>
                </div>
                <div class="post">
                    <div class="when">
                        <label>07/02/2019 19:12</label>
                    </div>
                    <span class="titlePost">Emenda constitucional</span>
                    <br>
                    <span class="mainPost">
                        é uma alteração feita em determinado texto específico presente na Constituição de um Estado, alterando as bases da lei em determinada matéria.
                    </span>
                </div>
                <div class="post">
                    <div class="when">
                        <label>07/02/2019 19:12</label>
                    </div>
                    <span class="titlePost">Emenda constitucional</span>
                    <br>
                    <span class="mainPost">
                        é uma alteração feita em determinado texto específico presente na Constituição de um Estado, alterando as bases da lei em determinada matéria.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>