<div class="row">
    <div class="generalConfig">
        <div class="firstPart">
            <ul>
                <li><a><i class="material-icons">account_circle</i><span class="title">Conta</span></a></li>
                <div class="divider"></div>
                <li><a><i class="material-icons">add_alert</i><span class="title">Notificações</span></a></li>
                <div class="divider"></div>
                <li><a><i class="material-icons">place</i><span class="title">Empresa</span></a></li>
                <div class="divider"></div>
                <li><a><i class="material-icons">help_outline</i><span class="title">Ajuda</span></a></li>
                <div class="divider"></div>
                <li><a><i class="material-icons">info</i><span class="title">Sobre</span></a></li>
                <div class="divider"></div>
            </ul>
        </div>
    </div>
</div>