@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Source+Sans+Pro');
*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
.general{
    width: 100%;
    height: 100%;
    z-index: -99;
    position: fixed;
    background-repeat: no-repeat;
    background-image: url("../img/icon/login.png");
}

.backgroundViolet{
    z-index: -99;
    background-color: #A6192e;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.containerLogin .divImg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerLogin .divImg .logo{
    z-index: 99;
    width: 70vw;
    margin-top: 10vw;
}
.containerLogin .form{
    margin: 15% 10% 10% 6%;
}
.containerLogin .form input#email , .containerLogin .form input#password{
    font-weight: 800;
    width: 100%;
    margin: 1vw;
    border: none;
    height: 11vw;
    font-size: 5vw;
    padding-left: 3%;
    border-radius: 1vw;
    background-color: white;
    z-index: 99;
}
.containerLogin .form .material-icons.showPassword{
    position: fixed;
    right: 9vw;
    font-size: 10vw;
    float: left;
    color: #A6192e;
    top: 96vw;
    z-index: 99;
}
.containerLogin .form .center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerLogin .form .center button#sing{
    border: none;
    background-color: white;
    border-radius: 2vw;
    padding: 1vw;
    height: 11vw;
    width: 30vw;
    color: #A6192e;
    font-weight: 800;
    margin-top: 5vw;
    font-size: 6vw;
}
.containerLogin .form .center #singup{
    color: white;
    margin-top: 4vw;
    font-size: 4.5vw;
}
.containerLogin .form .center #forgotPassword{
    font-size: 4vw;
}
#toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 100%;
    margin: 0;
}
.modal#releasePassword{
    height: auto;
    margin-top: 63vw;
    padding: 2vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;
}
.modal#releasePassword input{
    text-align: center;
    font-size: 5vw;
    font-weight: 600;
}
.modal#releasePassword .center button.btn#btnReleasePassword{
    background-color: #A6192e;
    font-weight: 800;
}