.row .generalConfig{
    margin-top: 15.3vw;
    overflow: scroll;
    color: rgba(0, 0, 0, 0.87);
}
.row .generalConfig .firstPart ul li{
    padding: 2vw 2vw 3vw 2vw;
}
.row .generalConfig .firstPart ul li a .title{
    font-size: 5vw;
    margin-left: 10vw;
    color: black;
}
.row .generalConfig .firstPart ul li a i.material-icons{
    font-size: 7vw;
    position: absolute;
    color: black;
}