*{
    margin: 0;
    padding: 0;
}
.input-field {
    position: relative!important;
    margin-top: 0!important;
}
.generalRegister .chooseUser .material-icons#backLogin{
    color: white;
    font-size: 10vw;
    background-color: #A6192e;
    left: 1vw;
    padding: 2vw;
    position: absolute;
    top: 7vw;
}
.generalRegister .normalUser .firstPassUser .material-icons.backLogin{
    position: absolute;
    color: white;
    font-size: 10vw;
    margin-top: -28.5vw;
    left: -2vw;
}
.generalRegister .normalUser .container{
    background-color: white;
    padding: 2vw;
    margin-top: 15vw;
    border-radius: 1vw;
    position: fixed;
}
.generalRegister .normalUser .container .firstPassUser{
    transition: 1s;
}
.generalRegister .normalUser .container .firstPassUser.hidden{
    transition: 1s;
    position: absolute;
    margin-left: 1000000%;
}
.generalRegister .normalUser .container .secondPassUser{
    transition: 1s;
}
.generalRegister .normalUser .container .secondPassUser.hidden{
    transition: 1s;
    position: fixed;
    margin-left: 1000000%;
}
.generalRegister .normalUser .container .secondPassUser .material-icons.backFirstPass{
    position: absolute;
    color: white;
    font-size: 10vw;
    margin-top: -28.5vw;
    left: -2vw;
}
.generalRegister{
    padding: 5vw;
    background-color: #A6192e;
    position: fixed;
    width: 100%;
    height: 100%;
}
.generalRegister .info .logo img{
    width: 65vw;
    margin-left: 13vw;
}

.generalRegister .chooseUser .center img{
    width: 50vw;
}
.generalRegister .chooseUser .center span{
    color: white;
    font-size: 5vw;
    font-weight: 700;
    padding: 2vw;
}
.generalRegister .chooseUser .center.firstPart{
    margin-top: 10vw;
}
.generalRegister .chooseUser .center.secondPart{
    margin-top: 15vw;
}
.generalRegister .chooseUser.hidden{
    transition: 1s;
    position: absolute;
    margin-left: 1000000%;
}
.generalRegister .userLawer , .generalRegister .normalUser{
    position: absolute;
    margin-left: 100%;
}
.generalRegister .userLawer.show{
    margin-left: 0;
    position: fixed;
    transition: 1s;
}
.generalRegister .normalUser.show{
    margin-left: 0;
    position: fixed;
    transition: 1s;
}
.generalRegister .userLawer.show .info .logo img{
    width: 65vw;
    margin-left: 13vw;
}
.generalRegister .userLawer.show .info .subTitle{
    font-size: 5vw;
    color: white;
    font-family: Montserrat;
    width: 100%;
    text-align: center;
    margin-left: 20vw;
}
.generalRegister .userLawer.show .container .center input{
}
.generalRegister .userLawer.show .container .firstPartLawer .material-icons.backInit{
    position: absolute;
    color: white;
    font-size: 10vw;
    top: -34vw;
    left: -3vw;
    padding: 2vw;
}
.generalRegister .userLawer.show .container{
    background-color: white;
    padding: 2vw;
    margin-top: 15vw;
    border-radius: 1vw;
    position: fixed;
}
.generalRegister .normalUser.show .container .center input , .generalRegister .userLawer.show .container .firstPartLawer .center input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.generalRegister .userLawer.show .container .firstPartLawer .center .oab{
    width: 70%;
}
.generalRegister .userLawer.show .container .firstPartLawer .center .uf{
    width: 30%;
}
.generalRegister .userLawer.show .container .firstPartLawer .center .btn.toSecond{
    background-color: #A6192e;
    font-size: 4vw;
    font-weight: 700;
}
.generalRegister .userLawer.show .container .firstPartLawer{
    transition: 0.5s;
}
.generalRegister .userLawer.show .container .firstPartLawer.hidden{
    transition: 0.5s;
    position: absolute;
    margin-left: 150%;
}
.generalRegister .userLawer.show .container .secondPassLawer.hidden{
    transition: 0.5s;
    position: absolute;
    margin-left: 150%;
}
.generalRegister .userLawer.show .container .secondPassLawer{
    transition: 1s;
}
.generalRegister .userLawer.show .container .secondPassLawer .material-icons.backFirstLawer{
    position: absolute;
    color: white;
    font-size: 10vw;
    top: -34vw;
    left: -3vw;
    padding: 2vw;
}
.generalRegister .userLawer.show .container .secondPassLawer .content .center #addressLawer{
    width: 70%;
}
.generalRegister .userLawer.show .container .secondPassLawer .content .center #numberAddressLawer{
    width: 30%;
}
.generalRegister .userLawer.show .container .secondPassLawer .content .center .btn.btnToThird{
    background-color: #A6192e;
    font-size: 4vw;
    font-weight: 700;
}

.generalRegister .userLawer.show .container .thirdPassLawer.hidden{
    transition: 0.5s;
    position: absolute;
    margin-left: 150%;
}
.generalRegister .userLawer.show .container .thirdPassLawer{
    transition: 1s;
}
.generalRegister .userLawer.show .container .thirdPassLawer .material-icons.backSecondLawer{
    position: absolute;
    color: white;
    font-size: 10vw;
    top: -34vw;
    left: -3vw;
    padding: 2vw;
}
.generalRegister .userLawer.show .container .thirdPassLawer .content .options{
    margin-top: 5vw;
    margin-bottom: 5vw;
}
.generalRegister .userLawer.show .container .thirdPassLawer .content .options li label{
    font-size: 5vw;
}
.generalRegister .userLawer.show .container .fourthPass.hidden{
    transition: 0.5s;
    position: absolute;
    margin-left: 150%;
}
.generalRegister .userLawer.show .container .fourthPass{
    transition: 1s;
}
.generalRegister .userLawer.show .container .fourthPass .material-icons.backThirdLawer{
    position: absolute;
    color: white;
    font-size: 10vw;
    top: -34vw;
    left: -3vw;
    padding: 2vw;
}
.generalRegister .userLawer.show .container .fourthPass .content .optionsPlano{
    margin-top: 5vw;
}
.generalRegister .userLawer.show .container .fourthPass .content .optionsPlano p{
    margin: 3vw;
}
.generalRegister .userLawer.show .container .fourthPass .content .optionsPlano label{
    font-size: 5vw;
}
.generalRegister .userLawer.show .container .fourthPass .secondContent{
    background-color: whitesmoke;
    padding: 1vw;
    margin-top: 5vw;
}
.generalRegister .userLawer.show .container .fourthPass .secondContent .optionValues{

}
.generalRegister .userLawer.show .container .fourthPass .secondContent .optionValues .m2{
    /*margin: 2vw;*/
}