<ion-header>
  <ion-navbar color="primary">
    <ion-title>Alterar Número de Celular</ion-title>
    <ion-buttons end>
      <button ion-button (click)="close()" style="margin-right: 16px;">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <div text-center style="font-size: 18px; margin-top: 30px">
    Seu número atual é <br/>
    <p style="font-weight: bold;">{{userData.cliente.numero | phone}}</p>
  </div>

  <ion-list>
    <form novalidate [formGroup]="form" (submit)="salvar()">

      <ion-item>
        <ion-label stacked>Digite o seu novo número</ion-label>
        <ion-input formControlName="celular" type="text" name="phone" placeholder="Número do celular" [brmasker]="{mask:'(00) 00000-0000', len:15}"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_messages.numero">
          <div *ngIf="form.get('celular').hasError(validation.type)">
            <p>{{validation.message}}</p>
          </div>
        </ng-container>
      </div>

      <button style="margin-top: 40px" ion-button type="submit" block>Salvar</button>
    </form>
  </ion-list> -->

</ion-content>
