<ion-header>
  <ion-navbar color="primary">
    <ion-title>Alterar Notificações</ion-title>
    <ion-buttons end>
      <button ion-button (click)="close()" style="margin-right: 16px;">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <!-- <ion-item *ngIf="userData.participante.tipo == 'candidato'">
      <ion-label>Novas vagas</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item *ngIf="userData.participante.tipo == 'candidato'">
      <ion-label>Novas entrevistas</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Novidades</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item *ngIf="userData.participante.tipo == 'candidato'">
      <ion-label>Promoções</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item *ngIf="userData.participante.tipo == 'candidato'">
      <ion-label>Vencimento de faturas</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item> -->

  </ion-list>
</ion-content>
